<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />

        <link
            href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>

        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <title>About me</title>
    </head>
    <body>
        <div class="other-context">
            <div class="topnav">
                <a class="box-link" href="{{ url_for('home') }}">Home</a>
                <a class="box-link" href="{{ url_for('feature_information') }}"
                    >Features</a
                >
                <a class="box-link" href="{{ url_for('contact') }}">Contact</a>
                <a class="box-link active" href="{{ url_for('about') }}"
                    >About</a
                >
            </div>
            <div class="container" style="width: 80vw">
                <div class="card m-3 rounded-3">
                    <div class="card-body text-center fw-bold">
                        <h1>About</h1>
                    </div>
                    <div class="container">
                        <div class="context">
                            Trang web được tạo ra với mục đích demo cho hệ thống
                            giúp chẩn đoán bệnh nghề nghiệp bằng cách yêu cầu
                            người dùng nhập các thông tin liên quan có trong hồ
                            sơ bệnh nhân. Bằng việc sử dụng model được xây dựng
                            từ framework StellarGraph, hệ thống có thể thực hiện
                            việc chẩn đoán mà không cần phải có đầy đủ dữ kiện
                            đầu vào.
                            <br />
                            Hệ thống này hoàn toàn có thể phát triển thêm nhiều
                            chức năng khác như: Thêm khả năng cho phép người
                            dụng tự định nghĩa một dữ kiện đầu vào mới giúp hệ
                            thống càng phát triển hơn; Dữ liệu được nhập vào có
                            thể thêm vào một cơ sở dữ liệu và quản lý bằng
                            Grafana; Hoặc tích hợp api chẩn đoán vào các hệ
                            thống y tế khác;...
                        </div>
                        <div class="container text-center">
                            <a
                                href="https://github.com/Foacto/OccupationalDiseaseWebAPI"
                                ><img
                                    src="{{ url_for('static', filename='img/GitHub-Logo.png') }}"
                                    alt="Github link"
                                    style="height: 100px; width: 175px"
                            /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
